{% extends 'app/home.html' %}

{% block content %}
<div class="container mt-4">
    <a href="{% url 'messages_list' %}" class="btn btn-secondary mb-3">
        &larr; Назад к сообщениям
    </a>
    <div class="card">
        <div class="card-header">
            <h4>{{ message.subject|default:"Без темы" }}</h4>
            <small>От: {{ message.sender.username }} | {{ message.timestamp|date:"d M Y H:i" }}</small>
        </div>
        <div class="card-body">
            <p>{{message.content}}</p>
        </div>
    </div>
</div>

{% endblock %}