<!-- blog/templates/blog/post_detail.html -->
{% extends 'app/base.html' %} {% block title %} {{ post.title }} — Котоблог {%endblock %}
{% block content %}

<div class="container mt-4">
  <a href="{% url 'home' %}" class="btn btn-secondary mb-3">
    &larr; Назад к списку постов
  </a>

  <article class="post-detail-card p-4 bg-white rounded shadow-sm">
    <header>
      <h1 class="post-title">{{ post.title }}</h1>
      <p class="post-meta text-muted">
        Автор: {{ post.author.username }} | Дата: {{ post.created_at|date:"d M Y H:i" }}
      </p>
    </header>
    <hr />
    <div class="post-content-body">{{ post.content }}</div>
  </article>
  {% if user.is_authenticated and post.author == user %}
  <div class="mt-3 text-end">
    <div
      class="modal fade"
      id="deleteModal"
      tabindex="-1"
      aria-labelledby="modal"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">
              Подтверждение удаления
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Вы точно хотите удалить пост "{{post.title}}"? Другие котики
            обидятся. 😿
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Отмена
            </button>
            <form method="post" action="{% url 'post_delete' post.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Удалить</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <button
      type="button"
      class="btn btn-outline-danger"
      data-bs-toggle="modal"
      data-bs-target="#deleteModal"
    >
      Удалить пост
    </button>
  </div>
  {% endif %}
</div>
{% endblock %}
